{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in history %}
            <tr>
                <td>{{ transaction.symbol }}</td>

                {% if transaction.sold %}
                <td>{{ transaction.sold }}</td>
                <td>{{ transaction.sale_price | usd }}</td>
                {% else %}
                <td>{{ transaction.bought }}</td>
                <td>{{ transaction.purchase_price | usd }}</td>
                {% endif %}

                <td>{{ transaction.datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}