{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolios %}
            <tr>
                <td>{{ stock.symbol }}</td>

                {% if stock.bought %}
                <td>{{ stock.bought }}</td>
                <td>{{ stock.purchase_price }}</td>
                {% else %}
                <td>{{ stock.sold }}</td>
                <td>{{ stock.sale_price }}</td>
                {% endif %}

                <td>{{ stock.datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

CREATE TABLE portfolios (
     id AUTOINCREMENT INTEGER NOT NULL,
     user_id INTEGER NOT NULL,
     symbol TEXT NOT NULL,
     shares INTEGER NOT NULL,
     bought INTEGER,
     sold INTEGER,
     purchase_price NUMERIC,
     sale_price NUMERIC,
     datetime DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
     PRIMARY KEY(id),
     FOREIGN KEY(user_id) REFERENCES users(id)
);