{% from "./app.py" import "lookup"}

{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- Count total portfolio value -->
            {% set portfolio = namespace(total=0) %}

            {% for stock in portfolios %}
                {% set quote = lookup(stock.symbol) %}
                {% set portfolio.total = portfolio.total + quote.price * stock.shares %}
            <tr>
                <td>{{ quote.symbol }}</td>
                <td>{{ quote.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ quote.price }}</td>
                <td>{{ quote.price * stock.shares }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{ cash + portfolio.total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}