:root {
  --red: #be132d;
  --white: #faf0e6;
  --green: #354230;
  --green-saturated: #014421;
  --brown: #3d2b1f;
  --brown-light: #c4a383;
  --brown-dark: #240001;
  --yellow: #ffd800;
  --blue: #1d4f9f;
  --blue-light: #56a0d3;
  --blue-saturated: #015cb8;
}

body {
  background-color: var(--white);
  color: var(--green);
}

::selection {
  background-color: var(--yellow);
  color: var(--white);
}

/* unvisited link */
a:link {
  color: green;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: lightcoral;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--blue);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: var(--blue-light);
  text-decoration: none;
}

nav {
  display: flex;
  height: 100%;
}

/* Styling body so navbar */
p {
  margin-left: 60px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--white);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 12px 12px 12px 36px;
    text-decoration: none;
    font-size: 16px;
    color: var(--green);
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover:not(.closebtn) {
    background-color: var(--brown);
    color: var(--white);
  }

  .sidenav .closebtn {
    padding-left: 32px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }