/*
Color Palette:
Accent Red: #be132d
Off-White: #f9f5ec
Dark Brown: #240001
Blue: #1d4f9f
Green: #354230
Brighter Blue: #015cb8
Brighter Green: #014421
*/

body {
  background-color: #f9f5ec;
  color: #014421;
}

nav {
  display: block;
}

p {
  margin-left: 60px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f9f5ec; /* Off-White */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 12px 12px 12px 38px;
    text-decoration: none;
    font-size: 16px;
    color: #014421;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover:not(.closebtn) {
    background-color: #240001; /* try brown: #3d2b1f/#240001 & light brown: #c4a383 */
    color: #f9f5ec;
    /* try red: #be132d */
  }

  .sidenav .closebtn {
    padding-left: 32px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }